<html>
<head>
    <title>subtraction</title>
<!DOCTYPE html>
</head>
<body>

    <h2>subtraction  a-b</h2>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>a_value</label><br>
            <input type="text" name="a_value" required>
        </div>

        <br>

        <div>
            <label>b_value</label><br>
            <input type="text" name="b_value" required>
        </div>

        <br>

        <button type="submit">Subtract</button>
    </form>

    
       <p>{{ a_value }}</p>
        <p>{{ b_value }}</p>
        <p>{{ c_value }}</p>

       
   
</body>
</html>